<div class="navbar-main-container">
    <div class="category-container">
        <div class="category">System Design</div>
        <div class="category-divider"></div>
        <div class="category">Data Structures</div>
        <div class="category-divider"></div>
        <div class="category" id="algorithms">Algortihms</div>
        <div class="category-divider"></div>
        <div class="category">Technology</div>
    </div>
</div>