<%- include('partials/header.ejs') %>

<%- include('partials/category-bar.ejs') %>
<div class="logo-container">
    <div class="logo-image">
        <img src="images/logo-katakana.svg" />
    </div>
</div>
<div class="main-grid-container">
    <div class="left-main-container">
        <div class="main-title">
            Ideas that inspire and actually matter.
        </div>
        <div class="main-paragraph">
            Check out the latest blog post
        </div>
        <div class="explore-button-main-container">
            <button class="call-to-action-button">
                Explore Now
            </button>
        </div>
    </div>
    <div class="right-main-container">
        <div class="card-main">
            <div class="goto-article-button-container">
                <button class="goto-article-button">

                </button>
            </div>
            <div class="card-main-img-container">
                <img src="images/rocket.jpg" >
            </div>
            <div class="card-title-main">
                Space exploration is coming to a shocking halt!
            </div>
            <div class="main-card-article-date-container">
                <div class="main-card-article-date">
                    01
                </div>
                <div class="main-card-month">
                    August 2023 
                </div>
            </div>
            <div class="author-container">
                <div class="author">
                    Anish Aby
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('partials/footer.ejs') %>